body {
  background-color: #03111e;
  color: #fff;
}
.hello {
  font-weight: 500;
  background: url("./icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
}
